<!DOCTYPE html>
<html>

<body class={{{doRotation}}}>
    <style>
        .buttons {
            width: 100%;
        }

        a {
            min-width: 24%;
        }

        input[type=button] {
            width: 24.5%;
            height: 200px;
            font-size: 30px;
        }

        .rot img {
            -webkit-transform: rotate(90deg);
            position: relative;
            top: -50%;
            width: 100%
        }

        .not img {
            width: 100%;
        }

        img {
            height: auto;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: auto;
        }

        * {
            background-color: #2d2d2d;
            color: #8a8a80;
        }

        div.container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 200px);
            width: 100%;
        }

        .rot div.hugger {
            width: calc(100vh - 200px);
            position: relative;
            top: -50%;
        }

        .not div.hugger {
            width: 100%;
        }
    </style>
    <div class="buttons">
        <a href={{{first}}}><input type="button" value="First"/></a>
        <a href={{{next}}}><input type="button" value="Next"/></a>
        <a href={{{previous}}}><input type="button" value="Previous"/></a>
        <a href={{{last}}}><input type="button" value="Last"/></a>
    </div>
    <div class="container">
        <div class="hugger">
            <img src={{{url}}}/>
        </div>
        <p>{{{error}}}</p>
    </div>
</body>

</html>
